[Desktop Entry]
Type=Application
Exec=fcitx-autostart
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=plank
Name=fcitx
Comment[en_US]=
Comment=
